#sel_1-con6 div.p2{
	padding-left: 25px!important;
}
.p2{
	padding-left: 0!important;
}
.headBg{
	width: 100%;height: 610px;background: url(../images/headBg.jpg) no-repeat center;
}
.section{
	width: 1000px;margin: 0 auto;overflow: hidden;
}
.section h3{
	font-size: 40px;text-align: center;font-weight: normal;
}
.section h5{
	color: #333333;font-size: 20px;text-align: center;margin-top: 30px;font-weight: normal;margin-bottom: 60px;
}
.btn{
	width: 162px;line-height: 51px;background: #1dcbac;color: #fff;font-size: 18px;text-align: center;font-family: "Microsoft YaHei";
}
.btn:hover{
	background: #333;
}
.section-head .p1{
	width: 386px;font-size: 62px;color: #0755ae;line-height: 70px;margin-top: 195px;margin-left: 620px;
}
.section-head .p2{
	font-size: 18px;color: #000;margin-left: 540px;margin-top: 25px;
}
.section-head .btn{
	margin-top: 35px;margin-left: 825px;
}
/**************************/
.dh_nav {
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #478cda;
}
.con {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.dh_nav ul li {
    font-size: 14px;
    width: 100px;
    text-align: center;float: left;
}
.dh_nav ul li  a{
	line-height: 48px;f
}
.dh_nav ul li:hover {
    background-color: #1869c5;
}
.dh_nav ul li a {
    color: #fff;
    display: inline-block;font-family: "宋体";
}
/********************/
.ad01{
	width: 100%;height: 145px;background: #0755ae;
}
.section-ad01 .p1{
	float: left;font-size: 40px;color: #fff;margin-left: 100px;margin-top: 50px;
}
.section-ad01 .btn{
	float: left;margin-left: 42px;margin-top: 52px;
}
/****************/
.section01 h3{
	color: #333333;margin-top: 100px;
}

.section01 ul{
	overflow: hidden;
}
.section01 ul li{
	float: left;width: 248px;border-left: 1px solid #c9c9c9;border-top: 1px solid #c9c9c9;font-family: "宋体";
}
.section01 ul li p{
	font-family: "宋体";
}
.section01 ul li.li1{
	background: #def1ff;font-size: 16px;
}
.section01 ul li.li2{
	font-size: 16px;color: #000;
}
.section01 ul li.li1 p{
	text-align: center;color: #000;margin-top: 205px;
}
.section01 ul li.li3{
	background: #f2f9ff;
}
.section01 ul li.li4{
	border-right: 1px solid #c9c9c9;background: #f2f9ff;
}
.section01 ul.title li{
	height: 85px;text-align: center;line-height: 85px;color: #000;font-size: 16px;font-weight: bold;
}
.section01 ul.title li img{vertical-align: middle;}
.section01 ul.content li{
	height: 250px;
}
.section01 ul.content li.li1{
	background-repeat: no-repeat;
	background-position: center 65px;
}
.section01 ul.content1 li.li1{
	background-image: url(../images/icon05.png); 
}
.section01 ul.content2 li.li1{
	background-image: url(../images/icon06.png); 
}
.section01 ul.content3 li.li1{
	background-image: url(../images/icon07.png); 
}
.section01 ul.content4 li.li1{
	background-image: url(../images/icon08.png); 
}
.section01 ul.content li.li2 p{
	width: 100%;line-height: 49.2px;border-bottom: 1px solid #c9c9c9;padding-top: 0;
}
.section01 ul.content li.li2 p.p5{
		border-bottom: none;
}
.section01 ul.content li.li2 p img{
	vertical-align: sub;
}
.section01 ul.content li.li2 p a{
	color: #000;
}
.section01 ul.content li.li3,.section01 ul.content li.li4{
	padding-left: 32px;width: 216px;font-size: 14px;color: #666;line-height: 28px;
}
.section01 ul.content li.li3 .p2,.section01 ul.content li.li4 .p2{color: #666;}
.section01 ul.content li.li3 .p1 a{
	color: #0755ae;
}
.section01 ul.content li p a:hover{
	color: #1dcbac!important;
}
.section01 ul.content li.li3 .p1-1{
	margin-top: 30px;
}
.section01 ul.content li.li3 .p1-2{
	margin-bottom: 20px;
}
.section01 ul.content li.li4 .p2-1{
	margin-top: 30px!important;
}
.section01 ul.content li.li4 .p2-2{
	margin: 8px 0;line-height: 18px;
}
.section01 ul.content4{
	margin-bottom: 95px;
}
.section01 ul.content4 li{
	border-bottom: 1px solid #c9c9c9;
} 
/*////////////////////*/
.section02Bg{
	width: 100%;height: 2228px;background: #1dcbac url(../images/section02Bg.jpg) no-repeat center top;
}
.section02 h3{
	color: #fff;margin-top: 75px;margin-bottom: 50px;
}
table{
	font-size: 14px;font-family: "宋体";
}
table thead tr{
	background:#88f4e1;height: 39px;font-size: 16px;
}
table tbody tr{
	background: #fff;
}
#table01 tbody tr{
	height: 97px;
}
table tbody tr td{
	padding: 0 10px;line-height: 22px;color: #666;
}
table tbody tr .tleft{
	background: #d5fff8;text-align: center;
}
table tbody .col4 td{
	height: 37px;background: #67d8c4;color: #fff;
}
/**********************************/
.section03Bg{
	width: 100%;height: 725px;background: url(../images/section03Bg.jpg) no-repeat center;
}
.section03{
	position: relative;
}
.section03 h3{
	margin-top: 100px;color: #333;
}
.section03 .p1:hover{
	color: #1dcbac;
}
.section03 .p1{
	font-size: 26px;color: #333;line-height: 36px;
}
.section03 .p2{
	font-size: 14px;color: #666;line-height: 24px;width: 465px;margin-top: 35px;font-family: "宋体";
}
.section03 ul{
	position: absolute;bottom: 80px;right: 20px;
}
.section03 ul li{
	float: left;width: 138px;height: 155px;
}
.section03 ul li p{
	font-size: 14px;color: #666;margin-top: 115px;font-family: "宋体";text-align: center;margin-right: 35px;
}
.section03 ul li.li1{
	background: url(../images/icon14.png) no-repeat center;
}
.section03 ul li.li1:hover{
	background: url(../images/icon14Hover.png) no-repeat center;
}
.section03 ul li.li2{
	background: url(../images/icon15.png) no-repeat center;
}
.section03 ul li.li2:hover{
	background: url(../images/icon15Hover.png) no-repeat center;
}
.section03 ul li.li3{
	background: url(../images/icon16.png) no-repeat center;
}
.section03 ul li.li3:hover{
	background: url(../images/icon16Hover.png) no-repeat center;
}
/***************/
.section .left,.section .right{
	width: 500px;float: left;
}
.section04 .left ul{
	margin-left: 10px;margin-top: 85px;margin-bottom: 85px;overflow: hidden;
}
.section04 .left ul li{
	float: left;width: 201px;line-height: 52px;border: 1px solid #1dcbac;font-size: 16px;color: #1dcbac;text-align: center;margin-right: 20px;margin-bottom: 20px;
}
.section04 .right {
	width: 410px;margin-left: 90px;
}
.section .right .title{
	color: #333;font-size: 26px;margin-bottom: 40px;margin-top: 80px;margin-left: 40px;
}
.section .right .title:hover{
	color: #1dcbac;
}
.section .right .content{
	color: #666;font-size: 14px;line-height: 24px;font-family: "宋体";margin-left: 40px;
}
.section .left .title{
	color: #333;font-size: 26px;margin-bottom: 40px;margin-top: 80px;
}
.section .left .title:hover{
	color: #1dcbac;
}
.section .left .content{
	color: #666;font-size: 14px;line-height: 24px;font-family: "宋体";margin-right: 40px;
}
/***************/
.section05Bg{
	width: 100%;height: 443px;background: #f1f1f1;
}

.section05 .right ul{
	overflow: hidden;margin-top: 60px;
}
.section05 .right ul li{
	float: left;width: 144px;height: 144px;
}
.section05 .right ul li.li1{
	margin-left: 135px;margin-bottom: 20px;
	background: url(../images/icon17.png) no-repeat center;
}
.section05 .right ul li.li1:hover{
	background: url(../images/icon17Hover.png) no-repeat center;
}
.section05 .right ul li.li2{
	margin-bottom: 20px;
	background: url(../images/icon18.png) no-repeat center;
}
.section05 .right ul li.li2:hover{
	margin-bottom: 20px;
	background: url(../images/icon18Hover.png) no-repeat center;
}
.section05 .right ul li.li3{
	margin-left: 65px;
	background: url(../images/icon19.png) no-repeat center;
}
.section05 .right ul li.li3:hover{
	margin-left: 65px;
	background: url(../images/icon19Hover.png) no-repeat center;
}
.section05 .right ul li.li4{
	background: url(../images/icon20.png) no-repeat center;
}
.section05 .right ul li.li4:hover{
	background: url(../images/icon20Hover.png) no-repeat center;
}
.section05 .right ul li.li5{
	background: url(../images/icon21.png) no-repeat center;
}
.section05 .right ul li.li5:hover{
	background: url(../images/icon21Hover.png) no-repeat center;
}
.section05 .right ul li p{
	margin-top: 110px;font-size: 14px;color: #666;font-family: "宋体";margin-right: 40px;text-align: center;
}
/******************/
.section06Bg{
	width: 100%;height: 443px;overflow: hidden;
} 
.section06 {
	overflow: visible;
}
.section06 .left,.section06 .right{
	height: 443px;
}
.section06 .left{
	position: relative;
}
.section06 .left img{
	position: absolute;
}
.section06 .left img.img01{
	top:0;right: 1200px;
}
.section06 .left img.img02{
	top:0;right: 1200px;
}
.section06 .left img.img03{
	bottom:0;right: 1200px;
}
.section06 .left img.img04{
	top:0;right: 1200px;
}
.section06 .right .title{
	margin-left: 40px;
}
.section06 .right .content{
	margin-left: 40px;
}
/**************/
.section07Bg{
	background: #e5fffa;width: 100%;height: 494px;overflow: hidden;
}
.section07Bg:hover{
	background: #f2f2f2;
}
.section07 .left .title {
	margin-top: 165px;
}
.section07 .left p.content{
	margin-right: 50px;
}
.section .left p.content span{
	color: #0755ae;font-family: "宋体";
}
.section .left p.content span:hover{
	color: #1dcbac;
}
.section07{
	position: relative;overflow: visible;
}
.section07 .right img{
	position: absolute;top:0;left: 400px;
}
/*****************/
.section08 .left{
	height: 443px;background: url(../images/icon26.png) no-repeat center;
}
.section08 .left p{
	text-align: center;color: #666;font-size: 14px;margin-top: 400px;font-family: "宋体";
}
.section08 .right .title{
	margin-left: 40px;
}
.section08 .right .content{
	margin-left: 40px;
}
/**************/
.section09Bg{
	width: 100%;height: 487px;background: url(../images/icon27.jpg) no-repeat center;
}
.section09 {overflow: visible;}
.section09 .right{
	position: relative;height: 487px;
}
.section09 .right li{
	position: absolute;
}
.section09 .right ul li p{
	font-size: 14px;color: #666;line-height: 22px;margin-top: -10px;font-family: "宋体";
}
.section09 .right ul li.li1{
	top: 50px;z-index: 4;left: 10px;
}
/*.section09 .right ul li:hover img{
	width: 120%;
}*/
.section09 .right ul li:hover p{
	display: none;
}
.section09 .right ul li.li2{
	top: 50px;z-index: 3;left: 220px;
}
.section09 .right ul li.li3{
	left: 110px;z-index: 2;top:265px;
}
/*************/
.section10 .left{
	margin-bottom: 80px;
}
.section10 .right{
	margin-left: 80px;width: 388px;margin-top: 80px;border-left: 1px solid #c9c9c9;height: 285px;padding-left: 31px;
}
.section10 .right ul{
	overflow: hidden;
}
.section10 .right ul.tab{
	margin-bottom: 14px;
}
.section10 .right ul.tab li{
	float: left;width: 120px;line-height: 30px;text-align: center;color: #1dcbac;border: 1px solid #1dcbac;margin-right: 20px;cursor: pointer;
}
.section10 .right ul.tab li.on{
	color: #fff;background: #1dcbac;
}
.tabBox ul.tab2{
	float: left;display: none;
}
.tabBox ul.tab2-1{
	width: 219px;
}
.tabBox ul.tab2-2{
	width: 169px;
}
.tabBox ul li{
	color: #666;font-size: 14px;line-height: 29px;margin-top: 10px;
}
.tabBox ul li:hover{
	color: #1dcbac;
}
.tabBox ul li div.img{
	width: 29px;line-height: 29px;background: url(../images/icon32.png) no-repeat center;text-align: center;color: #fff;display: inline-block;
}
/*++++++++++++*/
.section11Bg{
	width: 100%;height: 461px;background: #e5fffa;
}
.section11 .left{
	height: 461px;background: url(../images/icon33.png) no-repeat center -30px;position: relative;
}
.section11 .left div{
	position: absolute;
}
.section11 .left .icon34{
	width: 118px;height: 113px;background: url(../images/icon34.png) no-repeat center;top:93px;left: 70px;
}
.section11 .left .icon34:hover{
	background: url(../images/icon34Hover.png) no-repeat center;
}
.section11 .left .icon35{
	width: 118px;height: 113px;background: url(../images/icon35.png) no-repeat center;top:93px;left: 350px;
}
.section11 .left .icon35:hover{
	background: url(../images/icon35Hover.png) no-repeat center;
}
.section11 .left .icon36{
	width: 118px;height: 113px;background: url(../images/icon36.png) no-repeat center;top:360px;left: 211px;
}
.section11 .left .icon36:hover{
	background: url(../images/icon36Hover.png) no-repeat center;
}
.section11 .left .icon37{
	width: 174px;height: 159px;background: url(../images/icon37.png) no-repeat center;top:149px;left: 184px;
}
.section11 .left .icon37:hover{
	background: url(../images/icon37Hover.png) no-repeat center;
}
.section11 .left p,.section11 .left p a{
	font-size: 14px;color: #666;line-height: 22px;font-family: "宋体";
}
.section11 .left .icon34 p,.section11 .left .icon35 p{
	margin-top: 80px;
}
.section11 .left .icon36 p{
	margin-top: -50px;
}
.section11 .right{
	margin-left: 25px;width: 475px;
}
/**************/
.section12Bg{
	width: 100%;overflow: hidden;
}
.section12{
	overflow: visible;
}
.section12 .left{
	height: 522px;margin-right: 40px;width: 460px;
}
.section12 .right{
	position: relative;height: 522px;
}
.section12 .right div{
	position: absolute;width: 960px;height: 256px;
}
.section12 .right .Bg1{
	background: url(../images/icon38.jpg) no-repeat center;top: 0;left: 1200px;
}
.section12 .right div .mask{
	background: #333;top: 0;opacity: 0.1;display: none;filter:Alpha(opacity=10);
}
.section12 .right div:hover .mask{
	display: block;
}
.section12 .right .Bg2{
	background: url(../images/icon39.jpg) no-repeat center;bottom: 0;left: 1200px;
}
.section12 .right div p{
	font-size: 30px;line-height: 36px;margin-top: 94px;margin-left: 25px;display:none;
}
.section12 .right div.Bg1 p{color: #fff;}
.section12 .right div.Bg2 p{color: #010101;}
/*****************/
.section13Bg{
	width: 100%;overflow: hidden;background: #ececec;
}
.section13{
	overflow: visible;
}
.section13 .left{
	width: 585px;position: relative;height: 519px;
}
.section13 .left .Bg{
	position: absolute;width: 673px;height: 519px;background: url(../images/icon51.jpg) no-repeat center;left: -125px;
}
.section13 .left .Bg img{
	position: absolute;
}
.section13 .left .Bg img.img1{
	width: 134px;left: 69px;top: 61px;
}
.section13 .left .Bg img.img2{
	width: 78px;left: 280px;top: 70px;
}
.section13 .right{
	width: 415px;
}
/********************/
.section14Bg{
	width: 100%;overflow: hidden;
}
.section14{
	overflow: visible;
}
.section14 .right{
	height: 465px;position: relative;
}
.section14 .right div{
	position: absolute;
}
.section14 .right div.Bg1{
	left: 1200px;width: 701px;height: 465px;background: url(../images/icon40.jpg) no-repeat center;
}
.section14 .right div.Bg2{
	left: 1910px;width: 285px;height: 465px;background: url(../images/icon41.jpg) no-repeat center;
}
.section14 .right div.Bg1 p{
	font-size: 30px;line-height: 22px;color: #fff;margin-left: 38px;margin-top: 400px;display: none;
}
/*******************/
.section15Bg{
	width: 100%;height: 481px;background: url(../images/section15Bg.jpg) no-repeat center;
}
.section15 .left ul li{
	float: left;width: 139px;height: 133px;
}
.section15 .left ul li.li1{
	background: url(../images/icon42.png) no-repeat center;margin-top: 79px;margin-left: 198px;margin-bottom: 30px;
}
.section15 .left ul li.li1:hover{
	background: url(../images/icon42Hover.png) no-repeat center;
}
.section15 .left ul li.li2{
	background: url(../images/icon43.png) no-repeat center;margin-left: 98px;
}
.section15 .left ul li.li2:hover{
	background: url(../images/icon43Hover.png) no-repeat center;
}
.section15 .left ul li.li3{
	background: url(../images/icon44.png) no-repeat center;margin-left: 56px;
}
.section15 .left ul li.li3:hover{
	background: url(../images/icon44Hover.png) no-repeat center;
}
.section15 .left ul li p{
	font-size: 14px;color: #333;line-height: 22px;margin-top: 110px;font-family: "宋体";
}
/**************/
.section16Bg{
	width: 100%;height: 259px;background: #0755ae;margin-bottom: 80px;
}

.section16 p{
	text-align: center;font-size: 50px;color: #fff;margin-top: 65px;
}
.section16 .btn{
	margin: 40px auto 0;
}
.footbox1 div p a{font-family:"宋体";}