*{ margin: 0; padding: 0;border: 0;}
ul, ol { list-style-type: none; }
h1,h2,h3,h4,h5,p,span{
	font-family:"Microsoft YaHei";
}
a { text-decoration: none;}
:focus { outline-style: none; }
input { padding-top:0; padding-bottom:0;}
input::-moz-focus-inner { border:none; padding:0; }
select, input { vertical-align:middle; }
select, input, textarea { margin:0; }
input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
textarea {resize:none;}