.bar{
	z-index:2
}
.mc{
	z-index:1;
}
.link span{
	font-size:0.36rem;
}
.submenu li{
	font-size:0.32rem;
	position:relative;
	overflow:hidden;
}
.mc{
	display:none;
}
.submenu li em{
	display:block;
	width:0.24rem;
	height:0.18rem;
	background:url(http://s.tiandaoedu.cn/exam/App/View/tiku/images/dhs.png) no-repeat;
	position: absolute;
	right: 38%;
	top: 43%;
	background-size:100% auto;
	display:none;
}
.submenu li.on{
	color:#03a9f4;
}
.submenu li.on em{
	display:block;
}